@font-face {
	font-family: 'Shantell Sans'; 
	src: url(/fonts/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf); 
}
@font-face {
	font-family: 'mistral'; 
	src: url(/fonts/mistral.ttf); 
}
@font-face {
	font-family: 'foo'; 
	src: url(/fonts/foo.ttf); 
}
@font-face {
	font-family: 'ICE_AGE_RUS'; 
	src: url(/fonts/ICE_AGE_RUS.ttf); 
}
@font-face {
	font-family: 'toony_loons_rus'; 
	src: url(/fonts/toony_loons_rus.ttf); 
}
@font-face {
	font-family: 'vag-world-bold'; 
	src: url(/fonts/vag-world-bold.ttf); 
}
/* :root{
    --body-bg: #2f313d;
    
    --text-color: #fff;
    --linc-text: #000;

    --product-bg: #575a69;

    --menu-bg: #575a69;
    --menu-text-color: #fff;
    --menu-hover-bg: #AAF7BE;

    --btn1-bg-: #7cb18a;
} */

:root{
    --body-bg: #29292c;
    
    --text-color: #bad1f8;
    --linc-text: #d5e9ec;

    --product-bg: #39393a;
    --product-border: 2.5px #756f6f solid;

    --menu-bg: #39393a;
    --menu-text-color: #bad1f8;
    --menu-border: 2.5px #756f6f solid;
    --menu-hover-bg: #535353;

    --btn1-bg-: #9b8686;
}

*
{
    margin: 0;
}
body, html
{
    background-color: var(--body-bg);
    width: 100%;
    height: 100%;
    font-family: 'vag-world-bold';
    font-style: normal;
    color: var(--text-color);
}


.fullscreen{
    min-height: 90vh;
    display: flex;
}
.fullscreen_body{
    border: solid darkblue;
    flex: 1 1 auto;
    width: 100%;
    max-width: 10000px;
    margin: 5% auto auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__body{
    max-width: 1000px;
    margin: 0px auto;
}

.list_product
{
    margin-top: 10vh;
    display: grid;
    text-align: center;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: center;
}
.product
{
    transition: 2s;
    overflow: hidden;
    margin: 40px 5vw;
    border: var(--product-border);
    background-color: var(--product-bg);
    border-radius: 40px;
    width: 15vw;
    padding: 15px;
    box-shadow:0px 0px 10px #000;
}

.product-viv
{
    text-align: center;
    transition: 2s;
    overflow: hidden;
    border: var(--product-border);
    background-color: var(--product-bg);
    border-radius: 40px;
    width: 50vw;
    padding: 15px;
    box-shadow:0px 0px 10px #000;
}
.img_product-viv
{
    border-radius: 20px;
    max-width: 25vw;
}
.text_product-viv
{
    margin: 10px;
    text-align: justify;
    font-size: 1em;
}

.img_product
{
    border-radius: 20px;
    max-width: 15vw;
}
.title_product
{
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5vw;
}
.price{
    font-size: 2em;
}
.menu
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--menu-border);
    display: flex;
    list-style: none;
    gap: 10px;
    background-color: var(--menu-bg);
    box-shadow:0px 2px 5px #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.menu_li
{
    padding: 10px;
}
.menu_rigt{
    display: flex;
    position:fixed;
    right: 0;
}
.menu_text
{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1vmin;
    font-size: 1.5vmax;
    color: var(--menu-text-color);
}
.menu_text:hover
{
    background-color: var(--menu-hover-bg);
}

.btn1
{
    background-color: var(--btn1-bg-);
    color: var(--linc-text);
    margin-top: 20px;
    border: var(--menu-border);
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
}


#topNubex {
    display: none;
	position: fixed;
	right: 25px;
	bottom: 25px;
    scale: 0.7;
}


@media (max-width: 1024px) {
    .list_product
    {
        display: grid;
        text-align: center;
        grid-template-columns: 0fr 0fr;
        justify-content: center;
    }
    .product
    {
        margin: 20px 5vw;
        background-color: var(--product-bg);
        border-radius: 40px;
        width: 30vw;
        padding: 10px;
    }
    .img_product
    {
        border-radius: 20px;
        max-width: 30vw;
    }
    .title_product
    {
        font-size: 2.5vw;
    }
    .text_product
    {
        margin: 10px;
        text-align: center;
        font-size: 1.5vw;
    }
    .menu
    {
        transition: 3s;
        display: flex;
        list-style: none;
        gap: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    .menu_text
    {
        text-decoration: none;
        font-size: 2vmin;
        font-size: 2vmax;
    }
}
@media (max-width: 720px) {
    .list_product
    {
        display: grid;
        text-align: center;
        grid-template-columns: 0fr;
        justify-content: center;
    }
    .product
    {
        margin: 20px 5vw;
        background-color: var(--product-bg);
        border-radius: 40px;
        width: 50vw;
        padding: 10px;
    }
    .img_product
    {
        border-radius: 20px;
        max-width: 30vw;
    }
    .title_product
    {
        font-size: 4.5vw;
    }
    .text_product
    {
        margin: 10px;
        text-align: center;
        font-size: 3vw;
    }
  }